In [1]:
import numpy as np
import pandas as pd

In [2]:
cols = ['sentiment','id','date','query_string','user','text']
df = pd.read_csv('training.1600000.processed.noemoticon.csv', header = None, names = cols, encoding="ISO-8859â€“1")

In [3]:
df.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
df.sentiment.value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

#### Dropping columns id, query_string, user and date

In [5]:
df.drop(['id','date','query_string','user'],axis=1,inplace=True)

In [6]:
df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [16]:
positive = df[df.sentiment == 4]
negative = df[df.sentiment == 0]

In [17]:
positive.reset_index(inplace = True)
positive.drop(['index'], axis = 1, inplace = True)

C:\Users\surya\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [18]:
positive.head()

   sentiment                                               text
0          4       I LOVE @Health4UandPets u guys r the best!!
1          4  im meeting up with one of my besties tonight! ...
2          4  @DaRealSunisaKim Thanks for the Twitter add, S...
3          4  Being sick can be really cheap when it hurts t...
4          4    @LovesBrooklyn2 he has that effect on everyone

In [19]:
negative.reset_index(inplace = True)
negative.drop(['index'], axis = 1, inplace = True)

C:\Users\surya\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [20]:
negative.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [21]:
positive.to_csv('pos.csv', index = False)
negative.to_csv('neg.csv', index = False)

In [23]:
positive.drop(['sentiment'], axis = 1, inplace = True)
negative.drop(['sentiment'], axis = 1, inplace = True)

C:\Users\surya\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [24]:
positive.to_csv('pos.txt', sep = '\n', header = False, index = False)
negative.to_csv('neg.txt', sep = '\n', header = False, index = False)